<%= flash[:notice]%> <br />


<h4><%= @user.first_name %>'s Profile </br> </br></h4>


<h4>My accomplishments</h4>
<ul>
   <% @accomplishments.each do |acc| %>
   <li class="list-unstyled"><span class="glyphicon glyphicon-ok"></span>  <%=acc.name %>   <%= acc.add_more %></li>
   <% end %>
</ul>


<h4>Next Steps</h4>
<ul>
   <% @remaining_accomplishments.each do |acc| %>
   <li class="list-unstyled"><span class="register glyphicon glyphicon-unchecked"></span>  <%=acc.present_tense %></li>
   <% end %>
</ul>

<h4>Electeds</h4>

<table class="table table-bordered table-hover table-condensed">
  <tr>
    <th>Position</th>
    <th>Name</th>
    <th>Party</th>
    <th>Level</th>
  </tr>
  <% @electeds.each do |ele| %>
  <tr>
    <td><%= ele.elected.category %></td>
    <td><%= ele.full_name %></td>
    <td><%= ele.party %></td>
    <td><%= ele.elected.level %></td>
  </tr>
  <% end %>
</table>
