<% if @ua.errors.any? %>
   <ul>
     <% @ua.errors.full_messages.each do |msg| %>
       <li> <%= msg %> </li>
     <% end %>
   </ul>
 <% end %>

<h3>Have you attended a workshop?</h3><br />
<%= form_for @ua do |f| %>
  <% @accomplishments.each do |acc| %>
      <%= label_tag acc.id, acc.name %><br>
      <%= check_box_tag acc.name, acc.id %><br>
  <% end %>


  <%= f.submit "Add accomplishment" %>
<% end %>
