<% if @accomplishment.errors.any? %>
   <ul>
     <% @accomplishment.errors.full_messages.each do |msg| %>
       <li> <%= msg %> </li>
     <% end %>
   </ul>
 <% end %>

<%= form_for @accomplishment do |f| %>
  <h3>Have you attended a workshop?</h3><br />
  <%= f.radio_button :attended_workshop, true, checked: false %>
  <%= label_tag(:attended_workshop, "Yes") %><br />
  <%= f.radio_button :attended_workshop, false, checked: false %>
  <%= label_tag(:attended_workshop, "No") %><br /><br />

  <%= f.label :registered, "Are you registered to vote?" %><br />
  <%= f.radio_button :registered, true, checked: false %>
  <%= label_tag(:registered, "Yes") %><br />
  <%= f.radio_button :registered, false, checked: false %>
  <%= label_tag(:registered, "No") %><br />

  <%= f.submit "Add accomplishment" %>
<% end %>
